@import url(null.css);

@font-face {
    font-family: 'Gibson';
    src: local('Gibson Regular'), local('Gibson-Regular'),
        url('../fonts/Gibson/Gibson.ttf') format('woff2'),
        url('../fonts/Gibson/Gibson.woff') format('woff'),
        url('../fonts/Gibson/Gibson.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gibson';
    src: local('Gibson Semi Bold'), local('Gibson-Semi-Bold'),
        url('../fonts/Gibson-SemiBold/Gibson-SemiBold.ttf') format('woff2'),
        url('../fonts/Gibson-SemiBold/Gibson-SemiBold.woff') format('woff'),
        url('../fonts/Gibson-SemiBold/Gibson-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gibson';
    src: local('Gibson Bold'), local('Gibson-Bold'),
        url('../fonts/Gibson-Bold/Gibson-Bold.ttf') format('woff2'),
        url('../fonts/Gibson-Bold/Gibson-Bold.woff') format('woff'),
        url('../fonts/Gibson-Bold/Gibson-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'Gibson';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #191919;
    background: #E1E5E9;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.main{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

[class*="__wrap"]{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 15px;
    position: relative;
}

img{
    max-width: 100%;
}

/***************************************************************/

/* Start header styles */

.header__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1332px;
    margin: 40px auto 62px;
    padding: 0 10px;
}
.header__row{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__logo{
    margin-right: 50px;
}

.header__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__item{
    margin-right: 50px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__item-link{
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #1D0E09;
    padding-bottom: 3px;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}
.header__item-link:after{
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    content: "";
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}
.header__item-link:hover:after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: black;
    content: "";
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
} 

.header__btn{
    margin-right: 16px;
    background: #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 16px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.header__btn:hover, .header__btn:active, .header__btn:focus{
    background: rgb(200, 200, 200);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.header__btn2{
    margin-left: 32px;
    padding: 21px 27px;
    background-color: #1D0E09;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.header__btn2:hover, .header__btn2:active, .header__btn2:focus{
    background-color: #fff;
    color: #1D0E09;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

/* Start styles burger-menu */
.hamburger-menu{
    display: none;
  }
  
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 40px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #555454;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu__item2 {
    display: block;
    padding: 20px 24px;
    color: #1D0E09;
    font-size: 34px;
    text-decoration: none;
  }
  .menu__item2:hover, .menu__item2:active, .menu__item2:focus {
    background-color: #5f5f5f;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__box {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__item2 {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
/* End styles burger-menu */

/* End header styles */

/* Start intro styles */

.intro{
    padding-bottom: 159px;
}
.intro__begin{
    margin-left: 45%;
}
.intro__bg{
    border-radius: 50%;
}

.intro__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title{
    max-width: 512px;
    font-weight: 700;
    font-size: 120px;
    line-height: 93%;
    letter-spacing: 3px;
    color: #1D0E09;
    margin-bottom: 120px;
}

.intro__btn{
    border: 1px solid #d1cfcf;
    padding: 64px 80px 64px 263px;
    font-weight: 600;
    font-size: 32px;
    line-height: 21px;
    color: #1D0E09;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12.64%, #f3f3f4), color-stop(33.21%, rgba(222, 226, 230, 0))),
                url(../img/intro-bg-shoode.png) no-repeat 34px,
                url(../img/intro-bg-play.png) no-repeat right;
    background: -o-linear-gradient(top, #f3f3f4 12.64%, rgba(222, 226, 230, 0) 33.21%),
                url(../img/intro-bg-shoode.png) no-repeat 34px,
                url(../img/intro-bg-play.png) no-repeat right;
    background: linear-gradient(180deg, #f3f3f4 12.64%, rgba(222, 226, 230, 0) 33.21%),
                url(../img/intro-bg-shoode.png) no-repeat 34px,
                url(../img/intro-bg-play.png) no-repeat right;
    border-radius: 22.433px;
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
        -ms-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

.rocket {
    top: 43%;
    left: 44%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#intro__btn-block:hover .move-up {
    -webkit-transform: translate(0,-25px);
        -ms-transform: translate(0,-25px);
            transform: translate(0,-25px);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.intro__row{
    width: 100%;
}

.intro__parallaxex{
    background: url(../img/parallax-bg.png) no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}
.intro__parallax-block2{
    margin-left: 80%;
}
.intro__parallax-block3{
    margin-left: 30%;
}
.intro__parallax-block4{
    margin-left: 80%;
}
.intro__parallax-block6{
    margin-left: 80%;
}

.intro__use-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: 2px solid #BBC5;
    margin-bottom: 40px;
}
.intro__use-sub{
    max-width: 310px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #26333F;
}
.intro__num{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #1D0E09;
}
.intro__sub2{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #26333F;
}

.intro__use-row2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.intro_use-txt{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D0E09;
    max-width: 151px;
}
.intro__use-logo{
    border-left: 2px solid #BBC5D2;
    border-right: 2px solid #BBC5D2;
    padding-left: 40px;
    padding-right: 40px;
}

/* End intro styles */

/* Start questions styles */

.questions{
    background: #fff;
    padding: 80px 0 150px;
}

.questions__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 2px;
    color: #1D0E09;
    margin-bottom: 52px;
}

details{
    max-width: 853px;
    background: #FFFFFF;
    border: 1px solid #1D0E09;
    border-radius: 16px;
    padding: 32px;
    margin: 0 auto 24px;
}
details:last-child{
    margin-bottom: 0;
}

details > .questions__subtitle {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #191919;
    opacity: 0.8;
    padding-right: 60px;
}

summary{
    padding-right: 40px;
    padding-bottom: 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #191919;
    color: #111;
    cursor: pointer;
    list-style: none;
    background: url(../img/svg/questions-details-1.svg) no-repeat right;
}

details[open] summary{
    background: url(../img/svg/questions-details-2.svg) no-repeat right;
}

/* End questions styles */

/* Start media */

@media (max-width: 1150px){
    .header__btns{
        display: none;
    }
    .hamburger-menu{
        display: block;
        position: relative;
        z-index: 10000;
      }
      .header__list{
        display: none;
      }

      .intro__container{
        display: block;
      }

      .intro__row{
        margin-bottom: 100px;
      }
      .intro__row:last-child{
        margin-bottom: 0;
      }
      .intro__parallaxex{
        max-width: 650px;
        margin: 0 auto;
    }
    .intro__row1{
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .intro__parallax-block6{
        margin-left: 57%;
    }
}

@media (max-width: 600px){
    .title{
        font-size: 42px;
        text-align: center;
    }
    .intro__begin img{
        height: 100px;
        width: auto;
    }

    .intro__btn{
        padding: 40px 30px 40px 120px;
        font-size: 24px;
    }
    #intro__btn-block{
        max-width: 300px;
        margin: 0 auto;
    }

    .intro__parallax-block2{
        margin-left: 70%;
    }
    .intro__parallax-block3{
        margin-left: 30%;
    }
    .intro__parallax-block4{
        margin-left: 70%;
    }
    .intro__parallax-block6{
        margin-left: 60%;
    }
    .intro__parallax-img{
        height: 95px;
    }
    
    .intro__use-row2{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .intro_use-txt{
        text-align: center;
    }
    .intro__use-logo{
        border: 0;
        margin: 20px 0;
    }
    .intro{
        padding-bottom: 50px;
    }

    .questions__title{
        font-size: 30px;
    }
    .questions{
        padding: 20px 0 40px;
    }
}

@media (max-width: 500px){
    .intro__parallax-img{
        height: 80px;
    }
}

@media (max-width: 420px){
    .intro__parallax-img{
        height: 60px;
    }
}

/* End media */