@font-face {
    font-family: 'Gibson';
    src: local('Gibson Semi Bold'), local('Gibson-Semi-Bold'),
        url('Gibson-SemiBold.woff2') format('woff2'),
        url('Gibson-SemiBold.woff') format('woff'),
        url('Gibson-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }